<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cotiza.work</title>
    <link rel="stylesheet" href="https://gitcdn.xyz/repo/angular/bower-material/v0.11.0/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-app="MyApp">
    <div ng-controller="ProductosCtrl" class="full">
      <md-toolbar layout="column" class="header">
        <div class="md-toolbar-tools mainToolbar">
          <md-button>
            <md-icon md-svg-src="img/cotizawork.svg"></md-icon>
          </md-button><span flex></span>
          <md-button class="md-icon-button">
            <md-icon md-font-set="material-icons">eject</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <div layout="column" class="productos"> 
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Paquetes y promociones</span></h2><span flex></span>
          </div>
        </md-toolbar>
        <md-content flex>
          <md-card ng-repeat="item in items | filter:{Paquete:'true'}">
            <md-card-content>
              <h3><span>{{item.Producto}}</span><small>{{item.Costo | currency}}<span class="color"> |   </span><span>{{item.Tiempo}} días</span></small></h3>
              <md-list>
                <md-subheader>Incluye:</md-subheader>
                <md-list-item ng-repeat="pi in item.Descripcion">{{pi.Producto}}</md-list-item>
              </md-list>
            </md-card-content>
            <div layout="row" class="md-actions">
              <p class="nota">{{item.Nota}}</p><span flex></span>
              <md-button ng-click="addToQuote(item._id)" class="md-primary">Añadir a cotización</md-button>
            </div>
          </md-card>
        </md-content>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Productos y módulos</span></h2><span flex></span>
            <md-input-container>
              <label>Buscar...</label>
              <input ng-model="buscarProducto">
            </md-input-container>
          </div>
        </md-toolbar>
        <md-content flex>
          <md-card ng-repeat="item in items | filter:{Paquete:'!true'} | filter:buscarProducto">
            <md-card-content>
              <h3><span>{{item.Producto}}</span><small>{{item.Costo | currency}}<span class="color"> |   </span><span>{{item.Tiempo}} días</span></small></h3>
              <p>{{item.Descripcion}}</p>
            </md-card-content>
            <div layout="row" class="md-actions">
              <md-button ng-click="filterThis(item.Tipo)"><span>{{item.Tipo}}</span></md-button><span flex></span>
              <md-button ng-click="addToQuote(item._id)" class="md-primary">Añadir a cotización</md-button>
            </div>
          </md-card>
        </md-content>
      </div>
      <div layout="column" class="cotizacion"> 
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Tu cotización</span></h2>
          </div>
        </md-toolbar>
        <md-content flex>
          <md-card ng-repeat="item in quoters track by $index">
            <md-card-content>
              <md-button ng-click="removeFromQuote($index)" aria-label="Close" class="md-fab md-mini removeItemBtn">
                <md-icon md-font-icon="material-icons">remove_circle</md-icon>
              </md-button>
              <h3><span>{{item.Producto}}</span><small>{{item.Costo | currency}}<span class="color"> | </span><span>{{item.Tiempo}} días</span></small></h3>
            </md-card-content>
          </md-card>
          <md-card class="result dias">
            <md-card-content ng-if="total.dias">
              <h3>Tu producto estará listo en <strong>{{total.dias}} </strong>días</h3>
              <p>Para cumplir la fecha de entrega en necesario que tengamos la mayoría de lo activos y recursos para el proyecto al momento de realizar el pedido.</p>
            </md-card-content>
          </md-card>
          <md-card class="result costo">
            <md-card-content ng-if="total.costo">
              <h3>Con un costo de <strong>{{total.costo | currency}}</strong></h3>
              <p>Se divide en 50% y 50% distribuídos al inicio o primer avance y término del proyecto.</p>
            </md-card-content>
          </md-card>
          <md-card class="result sugerido">
            <md-card-content ng-if="total.costo">
              <h3>El precio sugerido de venta es   <strong>{{(total.costo*.4)+total.costo | currency}}</strong></h3>
              <p>Este precio esta basado con respecto al mercado bajo-medio de desarrollo digital. </p>
            </md-card-content>
          </md-card>
        </md-content>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.min.js"></script>
    <script src="https://gitcdn.xyz/repo/angular/bower-material/v0.10.1/angular-material.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>